body {
    --nav-width: 300px; /* Increased from 200px to 300px */
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
    width: 100%; /* Added to cover the full width */
    text-align: center; /* Added to align the text to the center */
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

.profile {
    text-align: center;
    margin-bottom: 1px;
}

.profile__image-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex; /* Added */
    justify-content: center; /* Added */
    align-items: center; /* Added */
    margin: 0 auto; /* Centering the wrapper */
}

.profile__image {
    width: auto;
    height: 300px; /* Increased size to zoom in */
    object-fit: cover;
}

.profile__name {
    color: #01aef1; /* Slightly darker blue */
    font-size: 1.5em;
    margin-top: 10px;
}