/* Existing CSS */
body {
    --nav-width: 300px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    background-color: #151515;
    color: #ffffff;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    text-align: center;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

.profile {
    text-align: center;
    margin-bottom: 1px;
}

.profile__image-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.profile__image {
    width: auto;
    height: 300px;
    object-fit: cover;
}

.profile__name {
    color: #01aef1;
    font-size: 1.5em;
    margin-top: 10px;
}

/* Custom styles for the containers */
.bg-grey {
    background-color: #222222 !important;
}

.rounded {
    border-radius: 16px !important;
}

.text-white {
    color: #ffffff !important;
}

.p-3 {
    padding: 1rem !important;
}

/* Flexbox utilities to ensure equal height columns */
.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.h-100 {
    height: 100% !important;
}

/* Dashboard background */
.dashboard-bg {
    background-color: #151515;
    padding: 2rem;
    border-radius: 16px;
}

/* Custom class to set minimum height for the columns */
.min-height {
    min-height: 300px; /* Adjust the value as needed */
}

/* Remove padding/margin for equal widths */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.no-gutters > .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

.col-md-4.left {
    padding-left: 0px;
    padding-right: 10px;
}

.col-md-4.right {
    padding-left: 10px;
    padding-right: 0px;
}

.col-md-4.middle {
    padding-left: 10px;
    padding-right: 10px;
}

/* Custom classes for first and last columns */
.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

/* Add styles for the recent songs section */
/* Container for the recent songs */
.recent-songs-container {
    margin-top: 20px;
}

/* Styling for each song column */
.col-md-2.left {
    padding-left: 0px;
    padding-right: 9px;
}

.col-md-2.middle {
    padding-left: 9px;
    padding-right: 9px;
}

.col-md-2.right {
    padding-left: 9px;
    padding-right: 0px;
}

/* Album cover image */
.col-md-2 img {
    width: 100%;
    border-radius: 8px;
}

/* Song name */
.col-md-2 .song-name {
    margin-top: 10px;
    font-weight: bold;
}

/* Artist name */
.col-md-2 .artist {
    font-size: 14px;
    color: #aaaaaa;
}

/* Adjust column width for recent songs */
.col-md-2 {
    flex: 1;
    max-width: calc(20% - 5px); /* 20% width with 10px padding */
}

/* Additional CSS for song list */
.song-list {
    margin-top: 20px;
}

.song-list .row {
    margin-bottom: 20px;
}

.song-list .col-auto {
    flex: 0 0 auto;
}

.song-list .col {
    flex: 1 1 0;
}

.song-list img {
    width: 50px;
    border-radius: 8px;
}

/* CSS for the song information layout */
.song-info {
    background-color: #545454;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column; /* Display text in a column layout */
    text-align: center; /* Center-align text */
}

.song-info img {
    width: 200px; /* Large square image */
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px; /* Add some space between image and text */
    margin-top: 10px; /* Add some space between image and text */

}

.song-info .song-details {
    flex-grow: 1; /* Allow to grow to fill space */
}

.song-info p {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust as needed */
}

/* CSS for the progress bars */
.genre-percentage {
    margin-bottom: 1rem;
}

.genre-percentage label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 16px;
    color: #ffffff;
}

.progress {
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #01aef1;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    transition: width 0.6s ease;
}

/* Styling for the song list table */
.song-list {
    margin-top: 20px;
}

.song-list .header {
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
}

.song-list .row {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.song-list .row.header {
    background-color: #333333;
}

.song-list .row.song-row {
    background-color: #444444;
    margin-bottom: 5px;
    border-radius: 8px;
}

.song-list .col-auto,
.song-list .col {
    padding: 5px;
    text-align: center;
}

.song-list img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}

/* CSS for the Top 3 Genres section */
#top-genres-container .genre-container {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#top-genres-container .top-genre {
    background-color: #01aef2;
    flex: 1.5;
}

#top-genres-container .second-genre {
    background-color: #0056b3;
    flex: 1.2;
}

#top-genres-container .third-genre {
    background-color: #3e4b58;
    flex: 1;
} 

/* Add custom styles for the Add New Songs section */
#song-search-input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#search-btn {
    padding: 8px 16px;
}

#song-selection-menu {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
}

#selected-song-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Add styles for the selected song details */
#selected-song-container img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#selected-song-container p {
    margin: 0;
}

#selected-song-container button {
    margin-top: 10px;
}
/* Custom styles for the song search results and selected song */
#search-results .song-result {
    cursor: pointer;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

#search-results .song-result img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#selected-song-container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#selected-song-container h3, 
#selected-song-container p {
    text-align: center;
}

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#order-select {
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
}

#search-button {
    margin-left: 10px;
}

/* Song Details Container */
.song-details {
    margin-top: 20px;
    text-align: center;
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
}

.song-details img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.song-details .song-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.song-details .song-artist,
.song-details .song-duration {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Hide the song details container initially */
.hidden {
    display: none;
}

/* Adjust the margin between the "Recent Songs You Added" section and the recent songs */
.row.mt-2 {
    margin-top: 20px;
}

/* Style the album cover image */
.bg-grey img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 100px; /* Adjust as needed */
}

/* Style the song name and artist text */
.bg-grey .song-name,
.bg-grey .artist {
    font-size: 14px;
    margin-top: 10px;
}